.fieldsContainer {
  display: flex;
  flex-direction: row;
}
.leadRow {
  padding: 5px 5px 0 0;
  .fieldText {
    &:hover {
      color: dodgerblue;
    }
    cursor: pointer;
    margin-right: 5px;
  }
}
.required {
  color: red;
}
