.brands-table-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  min-width: 93% !important;
  .table-container {
    width: 93%;
  }

  .icon-wrapper {
    padding: 5px 0px 0px 20px;
  }
}
